<!doctype html>
<html>
  <head>
    <title>How aroused is ____?</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="../static/raphael.2.1.0.min.js"></script>
    <script src="../static/justgage.1.0.1.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="../static/realtime.js"></script>
  </head>
  <style>
    body {
    background-color: #aaaaaa;
    }
    div#container {
    width: 1800px;
    margin: auto;
    }
    h1 {
    font-size: 7em;
    color: black;
    }
  </style>
  <body>
    <div id="container">
      <div id="top" style="text-align: center;">
        <h1><strong>Excitement! Level</strong> <span id="arousalLevel"></span></h1>
      </div>
      <div id="middle">
        <div class="col-md-6" style="text-align: center; padding: 20px;">
          <div id="gauge" style="width:400px; height:320px"></div>
          <img id="image" width=800 />
        </div>
        <div class="col-md-6" style="padding: 20px">
          <iframe width="1000" height="800" frameborder="0" seamless="seamless" scrolling="no" src="https://plot.ly/~dalequark/3.embed?width=1000&height800"></iframe>
          <iframe width="1000" height="800" frameborder="0" seamless="seamless" scrolling="no" src="https://plot.ly/~dalequark/4.embed?width=1000&height=800"></iframe>
        </div>
      </div>
      <div id="bottom">

      </div>
    </div>
  </body>
</html>
